@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .login-container{
        background-image: url("./assets/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .btn{
        @apply text-white bg-[#AA8855] hover:bg-[#f1b964] focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center  hover:ring-gray-300
    }
    .product-container{
        @apply grid grid-cols-3 gap-x-3 gap-y-2 justify-items-center mt-5
    }
    .active-link{
        @apply text-[#AA8855]
    }
    
}
@media (max-width:400px){
    .xs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .maxw{
        min-width: 300px;
    }
    .small-font{
        width: 70%;
        left: 1rem;
        top: 1rem;
    }
    .small-font p{
        font-size: 1rem;
    }

}
@media (min-width: 401px) and (max-width: 650px) {
    .slice{
        flex-basis: 30%;
    }
    
}
